.footer-area{
    background-color: $footer-bg;
    padding: 40px 0;
    .footer-widget{
        h3{
            color: $white;
            font-family: $Amiri;
            font-size: 33px;
            margin: 0;
            line-height: 30px;
            @media #{$xs} { 
                font-size: 24px;
                font-weight: 20px;
            }
        }
        p{
            color: $white;
            font-family: $Amiri;
            font-size: 24px;
            line-height: 25px;
            margin-bottom: 20px;
            @media #{$xs} { 
                font-size: 18px;
                font-weight: 20px;
            }
        }
    } 
    .footer-widget.text-right {
            @media #{$xs} {
            text-align: left !important;
            margin-top: 20px;
        }
    }
}