// Font Family
$roboto: 'Saira Condensed', sans-serif; 
$Amiri:'Playfair Display', serif;

// Colors ---------------
$white: #ffffff;
$black: #333333;
$grey:#CCCCCC;
$footer-bg:#424243;
$theme-color: #B54343;
$hr-border-color:#424243;
$heading-color: #424243;
$body-text-color: #424243;
 
 

// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

